// @tailwind base;
@tailwind components;
@tailwind utilities;

@import 'primeng/resources/themes/lara-light-purple/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';

html,
body {
    @apply m-0 p-0 w-full h-full;
}

html {
    font-size: 13px;
}

body {
    @apply bg-[var(--primary-50)];
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply m-0;
}

a {
    @apply no-underline text-[var(--primary-color)] focus:font-semibold focus:outline-none;
}

@layer utilities {
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::webkit-scrollbar {
            display: none;
        }
    }
}
