<div class="py-1 h-full">
  <div class="h-full w-full">
    <div class="space-y-3">
      @if(isSignedIn()) {
      <p-dataView layout="list" [value]="rooms()">
        <ng-template pTemplate="header">
          <div class="flex justify-between items-center">
            <h3 class="text-gray-700 text-2lg m-0">Your Rooms</h3>
            <div class="flex gap-3 items-center">
              <p-button (onClick)="onSignOutButtonClicked()" label="Sign out" [outlined]="true" icon="pi pi-lock-open"
                size="small" />
              <p-button size="small" (onClick)="openNewRoomDialog.set(true)" label="Create Room" icon="pi pi-plus" />
            </div>
          </div>
        </ng-template>
        <ng-template let-rooms pTemplate="list">
          <div>
            @for (room of rooms; track room.id) {
            <ng-container>
              <div class="flex items-center justify-between p-3">
                <div class="flex gap-3 items-center">
                  <p-avatar size="large" [label]="extractInitials(room.name)" shape="circle" />
                  <div class="space-y-2">
                    <h4><a [routerLink]="room.id">{{ room.name }}</a></h4>
                    <p>
                      @if(room.members.length === 1) {
                      You are the only member
                      } @else {
                      You and {{ (room.members.length-1) | number }} other member{{(room.members.length-1) === 1 ? '' :
                      's'}}
                      }
                    </p>
                  </div>
                </div>
                <div class="space-y-2">
                  <div>
                    <p-tag severity="success">live</p-tag>
                  </div>
                  <div>
                    <p-button [routerLink]="room.id" label="Join" size="small" />
                  </div>
                </div>
              </div>
              <p-divider />
            </ng-container>
            }
          </div>
        </ng-template>
      </p-dataView>
      }
    </div>
  </div>
</div>

<p-dialog header="Connect to your Account" [breakpoints]="{
         '768px': '50vw',
        '640px': '98vw',
      }" [closable]="false" [modal]="true" [visible]="openAuthDialog()" [draggable]="false">
  <!-- @if(!isSignedIn()){ -->
  <chattr-auth (signedIn)="onUserSignedIn()" [startingTab]="authTab()" />
  <!-- } -->
</p-dialog>

<p-dialog [closable]="false" (onHide)="onNewRoomDialogHide()" [draggable]="false" [modal]="true"
  [visible]="openNewRoomDialog()" header="Add a new Space" [breakpoints]="{
    '768px': '50vw',
    '640px': '98vw',
  }">
  <form (ngSubmit)="onNewRoomFormSubmit()" [formGroup]="form" class="py-5 space-y-7">
    <div>
      <span class="p-float-label">
        <input formControlName="name" pInputText id="name" />
        <label for="name">Name <span class="text-red-500">*</span></label>
      </span>
      @if(form.controls.name.dirty) {
      @if(form.controls.name.hasError('required')) {
      <span class="text-red-500 block text-xs">This field is required</span>
      } }
    </div>
    <!-- <div>
            <span class="p-float-label">
                <p-autoComplete inputId="invited-members" [multiple]="true" />
                <label for="invited-members">Members</label>
            </span>
        </div> -->
    <div class="flex justify-center items-center gap-3">
      <p-button size="small" type="submit" [loading]="creatingRoom() ?? false" loadingIcon="pi pi-spinner pi-spin"
        [disabled]="form.invalid || creatingRoom()" label="Continue" icon="pi pi-save" />
      <p-button size="small" type="button" (onClick)="openNewRoomDialog.set(false)" [text]="true" severity="danger"
        label="Close" />
    </div>
  </form>
</p-dialog>
