<div>a</div>
<div>b</div>
<p-dialog
  [breakpoints]="{ '960px': '75vw' }"
  [visible]="(appConfig$ | async)?.deviceConfig?.configured ?? true"
  [closable]="false"
  header="Configure Devices"
>
  <div class="flex items-center justify-center">
    <video
      autoplay
      #previewVideo
      poster="https://fakeimg.pl/340x220?text=Video+preview"
      class="rounded-md shadow"
    ></video>
  </div>
  <ng-template pTemplate="footer">
    <div class="w-full flex justify-center items-center">
      <p-menu
        appendTo="body"
        #videoSourcesPopup
        [popup]="true"
        [model]="videoSourceMenuItems()"
      />
      <p-menu
        appendTo="body"
        #audioSourcesPopup
        [popup]="true"
        [model]="audioSourceMenuItems()"
      />
      <p-button
        (onClick)="videoSourcesPopup.toggle($event)"
        icon="pi pi-video"
        [pTooltip]="videoSources().length <= 0 ? 'No video sources' : ''"
        size="small"
        [badge]="videoSources().length <= 0 ? '!' : ''"
        badgeClass="p-badge-danger"
      />

      <p-button
        (onClick)="audioSourcesPopup.toggle($event)"
        icon="pi pi-microphone"
        size="small"
        [pTooltip]="audioSources().length <= 0 ? 'No audio sources' : ''"
        tooltipPosition="bottom"
        [badge]="audioSources().length <= 0 ? '!' : ''"
        badgeClass="p-badge-danger"
      />
    </div>
  </ng-template>
</p-dialog>
