<div>a</div>
<div>b</div>
<p-dialog [breakpoints]="{ '960px': '75vw' }" [visible]="!showDeviceConfigurationDialog()" [closable]="false"
    header="Configure Devices">
    <form class="space-y-4">
        <div>
            <h4>Video Sources</h4>
            <div class="grid grid-cols-3">
                @for (device of videoSources(); track device.id) {
                {{device | json}}
                }
            </div>
        </div>
        <div>
            <h4>Audio Sources</h4>
        </div>
        <div class="flex justify-start items-center">
            <p-button size="small" [text]="true" label="Continue" />
        </div>
    </form>
</p-dialog>